body {
  background-color: white;
  font-family: Helvetica, Arial;
  font-size: 12pt;
}

a {
  color: #005599;
}

a:visited {
  color: #004499;
}

a:active {
  color: #ff0000;
}

.level-0 {
  font-size: 14pt;
}

.level-1 {
  font-size: 12pt;
}

.level-2 { 
  font-size: 10pt;
}

.level-3 {
  font-size: 8pt;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  color: #660000;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  color: #006600;
}

table {
  width: 100%;
}

th {
  text-align: center;
  vertical-align: top;
  background-color: #cccccc;
  color: #995555;
}



